

.photo {
    background-image: url("https://cdn.pixabay.com/photo/2019/04/18/22/05/camera-4138252_960_720.jpg");
    height: 350px;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    
   
}



